@{
    ViewData["Title"] = "Políticas de Privacidad";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/OtrasVentanas.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>

<article>
    <p>
        Wooth Jerseys dará tratamiento a sus datos personales de identificación, contacto y ubicación física. Estos datos serán los derivados u obtenidos como resultado del llenado de formularios y procesos llevados a cabo a efecto de registrarse como cliente y usuario de nuestra página web: Woothjerseys.com. Los datos personales antes referidos serán tratados para llevar a cabo las transacciones comerciales mediante el uso del sitio web: Woothjerseys.com. <br />

        Sus datos personales no sensibles podrán utilizarse también para finalidades secundarias de mercadotecnia, promoción, publicidad y difusión de nuestros productos o eventos. En caso de que usted no esté de acuerdo con alguno de estos usos secundarios, podrá enviarnos su oposición mediante el envío de un correo a la dirección: angel.alfredo.2009@gmail.com. En ningún caso, la negativa para el uso de sus datos personales para estas finalidades podrá ser un motivo para que le neguemos la compra de productos a través de nuestro sitio web: Woothjerseys.com.<br />

        El periodo del manejo de sus datos personales será indefinido a partir de la fecha en que sean proporcionados, pudiendo oponerse o limitarnos el uso o tratamiento de los mismos en cualquier momento en que usted lo considere conveniente. <br />

        Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO. <br />

        Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva en la siguiente dirección: contactojerseyswooth@gmail.com <br />

        Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá llamar al siguiente número telefónico 899-218-9105; ingresar a nuestro web: [Woothjerseys.com.], o bien ponerse en contacto con nuestro Departamento de Servicio al Cliente, que dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que pudiera tener respecto al tratamiento de su información. <br />
    </p>
</article>
