<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoPIALabPrograWebTienda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoPIALabPrograWebTienda.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("CSS", required: false)
    
</head>
<body>
    <header>
        <nav class="navbar navbarhorizontal navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
               
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/Fotos/Diseño/woothjerseys.png" asp-area"" asp-controller="Home" asp-action="Index" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white textocabecera" asp-area="" asp-controller="Home" asp-action="AboutUs">     Sobre Nosotros     </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white textocabecera" asp-area="" asp-controller="Home" asp-action="Contactanos">     Contáctanos     </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white textocabecera" asp-area="" asp-controller="Home" asp-action="Privacy">     Aviso de Privacidad     </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
<div class="lg-2">
            <ul class="navbarlateral">
            <li class="nav-item">
                <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda">     Catálogo Completo     </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="0">     Jerseys Liga MX     </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="1">     Jerseys Liga de Expansión     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="2">     Jerseys Liga Española     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="3">     Jerseys Liga Inglesa     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="4">     Jerseys Liga Alemana     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="5">     Jerseys Liga Argentina     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="6">     Jerseys Liga Italiana     </a>
                </li>
            <li class="nav-item">
                <a class="nav-link text-white textocabecera elementonavbarlateral" asp-area="" asp-controller="Home" asp-action="ProductosTienda" asp-route-Idcategoria="7">     Jerseys Liga Francesa     </a>
            </li>
            </ul>

</div>
<main class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <div class="container infocentral">
                <section role="main" class="pb-3">
            

                    @RenderBody()
                </section>
                    
            </div>
        </div>
    </div>
</main>

    




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Wooth Jerseys - <a asp-area="" asp-controller="Home" asp-action="Admin">Administración</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
